body {
    background-color: #b4def7 !important;
    font-family: "sans-serif", "Noto serif CJK TC", "Noto serif CJK TC Medium", "Palatino Linotype" !important;
}

#title {
    font-size: 48px;
    margin: 0px;
}

#subtitle {
    font-size: 32px;
    margin: 0px;
    margin-left: 6px;
}

#legend-box {
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    left: 30px;
}

#legend-box p {
    margin: 8px;
}

.legend {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    position: relative;
    top: 2.5px;
}

#map-box {
    position: fixed;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: right;
}

#hint {
    position: fixed;
    visibility: hidden;
    font-size: 28px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #FFFFFFCC;
    text-align: center;
}

#map {
    margin-top: -5%;
    height: 120%;
}

.lv0 {
    background-color: lightskyblue;
}

.lv1 {
    background-color: green;
}

.lv2 {
    background-color: yellow;
}

.lv3 {
    background-color: orange;
}

.lv4 {
    background-color: red;
}

.lv5 {
    background-color: purple;
}

.district-border {
    stroke: #FFFFFF80;
    stroke-width: 0.1px;
}

.county-border {
    stroke: #333333;
    stroke-width: 4px;
}

.border {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    fill: none;
    stroke-miterlimit: 10;
}

#tainan>path:hover {
    stroke: black;
    stroke-width: 2px;
}

#download {
    font-size: 19px !important;
    font-family: "sans-serif", "微軟正黑體";
    vertical-align: middle;
    height: 45px;
}

#bottom {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#fb-like {
    padding: 9px;
    margin-left:5px;
    margin-right: 5px;
    background-color: #FFFFFF60;
    vertical-align: middle;
    height: 45px;
}